body {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
  padding: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

article h2 {
  font-weight: 900;
}

article p {
  font-size: 1.3em;
}

.article_image {
  width: 100%;
}

.picture-input {
  padding-bottom: 20px;
  padding-left: 0px !important;
}

.control-label {
  padding-left: 0px;
}

.placeholder {
  background-color: grey;
  height: 400px;
  margin-bottom: 10px;
  width: 100%;
}

.published {
  font-size: 1em;
  font-weight: 300;
}