body {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
  padding: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}